Repository SkywardAI/cecilia, pull requests merged in 2024-06, with the labels that each got.

#30 Delete RMIT 2024 Postgraduate Study Areas.csv
  README.md
  RMIT 2024 Postgraduate Study Areas.csv
Labels: documentation

#32 Update README.md
  Datasets/CSV/RMIT 2024 Programs.csv
  README.md
Labels: documentation, datasets, dataset/kaggle

#21 Uploading Documents
  Notebooks/RMIT 2024 Postgraduate Study Areas.csv
  PostradStudy/Images/Davies_Bouldin_scores.png
  PostradStudy/Images/Silhouette_plot_2.png
  PostradStudy/Images/Silhouette_plot_3.png
  PostradStudy/Images/Silhouette_plot_4.png
  PostradStudy/Images/Silhouette_plot_5.png
  PostradStudy/Images/Silhouette_plot_6.png
  PostradStudy/Images/Silhouette_plot_7.png
  PostradStudy/Images/Silhouette_plot_8.png
  PostradStudy/Images/Silhouette_plot_9.png
  PostradStudy/Images/Silhouette_scores.png
  PostradStudy/RMIT 2024 Postgraduate Study Areas.csv
  PostradStudy/cleanedPostGradStudyAreasCSV.csv
  PostradStudy/cleanedPostGradStudyAreasJson.json
  PostradStudy/postgrad_visualization.ipynb
  RMIT2024Programs/Images/Davies_Bouldin_scores.png
  RMIT2024Programs/Images/Silhouette_plot_2.png
  RMIT2024Programs/Images/Silhouette_plot_3.png
  RMIT2024Programs/Images/Silhouette_plot_4.png
  RMIT2024Programs/Images/Silhouette_plot_5.png
  RMIT2024Programs/Images/Silhouette_plot_6.png
  RMIT2024Programs/Images/Silhouette_plot_7.png
  RMIT2024Programs/Images/Silhouette_plot_8.png
  RMIT2024Programs/Images/Silhouette_plot_9.png
  RMIT2024Programs/Images/Silhouette_scores.png
  RMIT2024Programs/Images/visualization.ipynb
  RMIT2024Programs/RMIT 2024 Programs.csv
  RMIT2024Programs/RMITprogramsVisualization.ipynb
  Sem1Textbooks/Images/Davies_Bouldin_scores.png
  Sem1Textbooks/Images/Silhouette_plot_2.png
  Sem1Textbooks/Images/Silhouette_plot_3.png
  Sem1Textbooks/Images/Silhouette_plot_4.png
  Sem1Textbooks/Images/Silhouette_plot_5.png
  Sem1Textbooks/Images/Silhouette_plot_6.png
  Sem1Textbooks/Images/Silhouette_plot_7.png
  Sem1Textbooks/Images/Silhouette_plot_8.png
  Sem1Textbooks/Images/Silhouette_plot_9.png
  Sem1Textbooks/Images/Silhouette_scores.png
  Sem1Textbooks/RMIT Semester 1 2024 textbooks - Sheet1.csv
  Sem1Textbooks/cleanedSemester1TextbooksCSV.csv
  Sem1Textbooks/cleanedSemester1TextbooksJson.json
  Sem1Textbooks/visualization.ipynb
Labels: dataset/kaggle, visualization
